* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20%;
}
.container {
    width: 1200px;
    display: flex;
    flex-direction: row;
    gap: 20%;
    clear: both;

}
.container .left {
    width: 30%;
    height: 100vh;
    background-image: url("./bg-main-desktop.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
    display: flex;
}
.container .right {
    width: 30%;
    margin-top: 10rem;
}
.container .right .line-1 {
    display: flex;
    flex-direction: column;
}
.container .right .label-1 {
    font-size: 12px;
    margin-bottom: 7px;
}
.container .right .input-1 {
    outline: none;
    border: 1px solid #e9e9e9;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 25px;
}
.container .right .input-1::placeholder {
    color: #e9e9e9;
}
.container .right .input-1:focus {
    border: 1px solid #6c5b7b;
}
.container .right .line-2 {
    display: flex;
    flex-direction: column;
}
.container .right .label-2 {
    font-size: 12px;
    margin-bottom: 7px;
}
.container .right .input-2 {
    outline: none;
    border: 1px solid #e9e9e9;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 25px;
}
.container .right .input-2::placeholder {
    color: #e9e9e9;
}
.container .right .input-2:focus {
    border: 1px solid #6c5b7b;
}
.container .right .line-3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5%;
}
.container .right .line-3 .part-1 {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .right .line-3 .part-1 .line2 {
    display: flex;
    flex-direction: row;
    gap: .4rem;
} 
.container .right .line-3 .part-1 .label-3 {
    font-size: 12px;
    margin-bottom: 7px;
}
.container .right .line-3 .part-1 .MM {
    width: 50%;
    outline: none;
    border: 1px solid #e9e9e9;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 25px;
}
.container .right .line-3 .part-1 .MM::placeholder {
    color: #e9e9e9;
}
.container .right .line-3 .part-1 .MM:focus {
    border: 1px solid #6c5b7b;
}
.container .right .line-3 .part-1 .YY {
    width: 50%;
    outline: none;
    border: 1px solid #e9e9e9;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 25px;
}
.container .right .line-3 .part-1 .YY::placeholder {
    color: #e9e9e9;
}
.container .right .line-3 .part-1 .YY:focus {
    border: 1px solid #6c5b7b;
}
.container .right .line-3 .part-2 {
    width: 45%;
    display: flex;
    flex-direction: column;
}
.container .right .line-3 .part-2 .label-4 {
    font-size: 12px;
    margin-bottom: 7px;
}
.container .right .line-3 .part-2 .input-3 {
    outline: none;
    border: 1px solid #e9e9e9;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 25px;
}
.container .right .line-3 .part-2 .input-3::placeholder {
    color: #e9e9e9;
}
.container .right .line-3 .part-2 .input-3:focus {
    border: 1px solid #6c5b7b;
}
.container .right  button {
    width: 100%;
    color: white;
    background-color: #220930;
    font-weight: bold;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
    border: 1px solid #e9e9e9;
}
.container .left .boxes {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0;
    left: 0;
 } 
 .container .background {
    width: 100%;
    height: 38%;
    background-image: url("./bg-card-front.png");
    background-repeat: no-repeat;
    background-size: 100%;
    max-width: 80%;
    z-index: 1;
    position: relative;
    top: 20%;
    left: 30%;
}
.container .background-2 {
    width: 375px;
    height: 38%;
    background-image: url("./bg-card-back.png");
    background-repeat: no-repeat;
    background-size: 100%;
    max-width: 80%;
    z-index: 0;
    position: relative;
    top: 81px;
    left: 50%
}

@media screen and (max-width: 768px) {
    .container body {
        flex-direction: column;
    }
    .container .left {
        width: 100%;
        height: 85vh;
        background-size: 100% auto;
    }
    .container .right {
        width: 90%;
        margin: auto;
        margin-top: 5rem;
        margin-bottom: 54px;
    }
    .container .left .orginal {
        width: 100%;
        height: auto;
    }
    .container .left .boxes {
        width: 100%;
        height: 140vh;
        display: flex;
        flex-direction: column;
        position: relative;
        top: -14px;
        left: -157px;
     } 
     .container .left .background {
        width: 60%;
        height: 71vh;
        top: 235px;
        left: 257px;
     }
     .container .left .background-2 {
        width: 60%;
        height: 88vh;
        top: -245px;
        left: 50%;
     }
}
@media screen and (max-width: 425px) {
    .container .right {
        margin-top: 7rem;
        margin-bottom: 0;
    }
    .container .left {
        width: 100%;
        height: 45vh;
        background-size: 100% auto;
    }
    .container .left .background {
        width: 65%;
        height: 71vh;
        top: 132px;
        left: 196px;
     }
     .container .left .background-2 {
        width: 65%;
        height: 88vh;
        top: -288px;
        left: 251px;
     }
}
@media screen and (max-width: 375px) {
    .container .right {
        margin-top: 9rem;
        margin-bottom: 0;
    }
    .container .left {
        width: 100%;
        height: 45vh;
        background-size: 100% auto;
    }
    .container .left .background {
        width: 75%;
        height: 71vh;
        top: 141px;
        left: 185px;
     }
    .container .left .background-2 {
        width: 75%;
        height: 88vh;
        top: -280px;
        left: 227px;
     }
}
@media screen and (max-width: 320px) {
    .container .right {
        margin-top: 8rem;
    }
    .container .left {
        height: 49vh;
    }
    .container .left .background {
        width: 80%;
        height: 90vh;
        top: 161px;
        left: 169px;
     }
     .container .left .background-2 {
        width: 80%;
        height: 88vh;
        top: -296px;
        left: 211px;
     }
}